---
// Import the PostGridItem component
import PostGridItem from "./PostGridItem.astro";

// Props passed to the component
const { gridItems, lang } = Astro.props;

const sortedGridItems = gridItems.sort(
  (a: (typeof gridItems)[number], b: (typeof gridItems)[number]) =>
    new Date(b.date).getTime() - new Date(a.date).getTime()
);
---

<div class="grid grid-cols-3 gap-4">
  {
    sortedGridItems.map((item: (typeof gridItems)[number]) => (
      <PostGridItem component={item} lang={lang} />
    ))
  }
</div>
